In [2]:
import csv
import pandas as pd
import numpy as np
import time
from datetime import datetime 
# Output File (CSV)
output_data_file = "cities2.csv"

In [3]:
city_weather_df = pd.read_csv(output_data_file)
city_weather_df

,City,Temp.(F),Max Temp.(F),Humidity (%),Cloudiness,Wind Speed (mph),Latitude,Longitude,Date
0,Vila,49.19,54.00,76,40,2.24,42.03,-8.16,1579891030
1,Laguna,56.19,61.00,93,1,4.70,38.42,-121.42,1579891266
2,George Town,80.33,82.40,74,20,2.24,5.41,100.34,1579891268
3,Butaritari,84.20,84.20,74,100,8.32,3.07,172.79,1579891137
4,Hermanus,71.33,73.00,88,0,1.99,-34.42,19.23,1579891272
...,...,...,...,...,...,...,...,...,...
533,Republic of El Salvador,83.03,89.60,61,40,5.82,13.83,-88.92,1579892182
534,Aksarka,0.27,0.27,97,92,4.41,66.56,67.80,1579892403
535,Praia,80.60,80.60,44,3,18.34,14.92,-23.51,1579892378
536,Ginir,62.51,62.51,56,99,0.83,7.13,40.70,1579892407
537,Port Keats,82.78,82.78,83,78,7.47,-14.25,129.55,1579892409

In [5]:
#city_weather_df["Date"] = datetime.fromtimestamp()
#city_weather_df["Date"] = city_weather_df["Date"].strftime('%Y-%m-%d')
#Timestamp.to_pydatetime(city_weather_df["Date"])
city_weather_df["Date"] = pd.to_datetime(city_weather_df["Date"], unit='s')
city_weather_df

,City,Temp.(F),Max Temp.(F),Humidity (%),Cloudiness,Wind Speed (mph),Latitude,Longitude,Date
0,Vila,49.19,54.00,76,40,2.24,42.03,-8.16,2020-01-24 18:37:10
1,Laguna,56.19,61.00,93,1,4.70,38.42,-121.42,2020-01-24 18:41:06
2,George Town,80.33,82.40,74,20,2.24,5.41,100.34,2020-01-24 18:41:08
3,Butaritari,84.20,84.20,74,100,8.32,3.07,172.79,2020-01-24 18:38:57
4,Hermanus,71.33,73.00,88,0,1.99,-34.42,19.23,2020-01-24 18:41:12
...,...,...,...,...,...,...,...,...,...
533,Republic of El Salvador,83.03,89.60,61,40,5.82,13.83,-88.92,2020-01-24 18:56:22
534,Aksarka,0.27,0.27,97,92,4.41,66.56,67.80,2020-01-24 19:00:03
535,Praia,80.60,80.60,44,3,18.34,14.92,-23.51,2020-01-24 18:59:38
536,Ginir,62.51,62.51,56,99,0.83,7.13,40.70,2020-01-24 19:00:07
537,Port Keats,82.78,82.78,83,78,7.47,-14.25,129.55,2020-01-24 19:00:09

In [6]:
city_weather_df.to_html("Resources/city_weather_table.html")